{% extends "layout.html" %}

{%  block body %}
    <h1 class="mt-5">Library of Babel</h1>

    <!-- TODO: Implement a search form -->
    <form action="/" method="post">
        <input name="page" type="text" autofocus placeholder="page number">
        <button>Go!</button>
    </form>

    <p class="text-break mt-3">
        {{ string }}
    </p>

    <!-- TODO: Implement a search history table -->

    <table class="table">
        <thead>
            <tr>
                <th>Search History</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td><a href="/?page={{ entry.page }}">{{ entry.page }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}