{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Uni Price</th>
                <th>Transaction Value</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="transaction-type-{{ 'purchase' if transaction.shares > 0 else 'sale' }}">
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ usd(transaction.price) }}</td>
                    <td>{{ usd(transaction.price * transaction.shares) }}</td>
                    <td>{{ format_time(transaction.time) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}