{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <p>
        Welcome to C$50 Finance Plateform!
    </p>
    <table role="grid">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Cost Per Share</th>
                <th>Market Value</th>

            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ usd(lookup(stock.symbol).price) }}</td>
                    <td>{{ usd(stock.price) }}</td>
                    <td>{{ usd(stock.shares * stock.price) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Cash</th>
                <td>{{ usd(cash) }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>TOTAL</th>
                <td>{{ usd(total) }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}