<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link rel="stylesheet" href="/static/css/pico.min.css">

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <title>C$50 Finance: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="">
            <div class="container">
                <a href="/">CS50 Finance</a>
                <a role="button">Menu</a>
                <div id="navbar">
                    {% if session["user_id"] %}
                        <ul>
                            <li><a href="/quote">Quote</a></li>
                            <li><a href="/buy">Buy</a></li>
                            <li><a href="/sell">Sell</a></li>
                            <li><a href="/history">History</a></li>

                        </ul>
                        <p>
                            {{ username(session.get("user_id")) }}
                        </p>
                        <ul>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>

                    {% else %}
                        <ul>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container">
            {% block main %}{% endblock %}
        </main>

        <footer class="container">
            Data provided by <a href="https://iexcloud.io/">IEX</a>
        </footer>
    </body>
</html>