{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol">
            <option disabled selected>Select Stock</option>
            {% for stock in stocks %}
                <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
            {% endfor %}
        </select>
        <input type="number" autofocus autocomplete="off" name="shares" placeholder="Shares">
        <button type="submit">Sell</button>
    </form>
{% endblock %}